@using Atomia.Store.Core;
@using Atomia.Store.WebBase.HtmlHelpers;

@{
    Layout = "~/Themes/Default/Views/_MainLayout.cshtml";
    ViewBag.Title = @Html.CommonResource("HostingPackageTitle");
}

<h4>@Html.CommonResource("HostingPackageTitle")</h4>
<p>@Html.CommonResourceRaw("HostingPackageDescription")</p>
<div class="formrow">
    <h5><label class="required"><span>*</span> @Html.CommonResource("AvailablePackages"):</label></h5>
    <div class="col_set no_gutter" data-bind="foreach: HostingPackages.Products">
        <div class="col_3">
            <div class="card full-width stickers selectable">
                <div class="card_content">
                    <h4 class="card_content_title" data-bind="text: Name"></h4>
                    <p class="card_content_description" data-bind="html: Description"></p>
                    <p class="card_sticker" data-bind="visible: HasVariants">
                        <label class="select" data-bind="attr: { for: UniqueId }">
                            <select data-bind="
                                options: PricingVariants,
                                optionsText: 'Display',
                                value: SelectedPricingVariant,
                                attr: {
                                    name: UniqueId,
                                    id: UniqueId
                                }"></select>
                        </label>
                    </p>
                    <p class="card_sticker" data-bind="visible: !HasVariants()">
                        <span class="card_sticker_big" data-bind="text: Price"></span>
                        <!-- ko if: RenewalPeriod -->
                            <span class="card_sticker_small" data-bind="text: RenewalPeriod().Display"></span>
                        <!-- /ko-->
                        <!-- ko ifnot: RenewalPeriod -->
                            <span class="card_sticker_small">&nbsp;</span>
                        <!-- /ko-->
                    </p>
                </div>
                <p class="card_buttons"><a id="app_01" href="javascript:void(0);" class="button green js_select_package" data-bind="click: AddToCart">@Html.CommonResource("Select")</a></p>
            </div>
        </div>
    </div>
    <br class="clear">
</div>
<h4>@Html.CommonResource("MasterDomain")</h4>
<div class="formrow">
    <h5><label class="required" for="master"><span>*</span> @Html.CommonResource("MasterDomain"):</label></h5>
    <div class="col2row">
        <label class="select">
            <select id="master" name="master">
                <option selected="selected" disabled="disabled"></option>
                <option>mydomain.com</option>
                <option>mydomain.se</option>
            </select>
        </label>
    </div>
    <br class="clear">
</div>

@section scripts {
    @Scripts.Render("~/bundles/hostingpackages")

    <script type="text/javascript">
        var Atomia = Atomia || {};
        Atomia.ActiveViewModel = Atomia.ActiveViewModel || {};

        Atomia.ActiveViewModel.HostingPackages = new Atomia.ViewModels.HostingPackages();

        Atomia.ActiveViewModel.HostingPackages.Init(Atomia.ActiveViewModel.Cart);
        Atomia.ActiveViewModel.HostingPackages.Load(@Html.JsonAction("ListCategoryData", "Category", new { category = "Hosting" }));
    </script>
}
