@model Atomia.Store.Themes.Default.Models.DefaultProductsViewModel
@using Atomia.Store.Core;

@{
    Layout = "~/Views/_MainLayout.cshtml";
    ViewBag.Title = @Model.Category;
}

<!DOCTYPE html>

<h2>@Model.Category</h2>
<p>
    This is a products listing.
</p>
<ul>
    @foreach (var product in Model.Products)
    {
        <li>
            <div>
                <h3>@product.Name</h3>
                <p>@product.Description</p>
                <ul>
                    @foreach (var renewalPeriod in product.RenewalPeriodChoices)
                    {
                        <li>
                            @renewalPeriod.ToString()
                        </li>
                    }
                </ul>

            </div>



            <p><button>Add to cart</button></p>
        </li>
    }
</ul>
