@model Atomia.Store.Payment.PayPal.PayPalViewModel
@using Atomia.Web.Plugin.Validation.HtmlHelpers;

@{
    Layout = "~/Themes/Default/Views/_NoCartLayout.cshtml";
}

<h3 class="important_heading">@Html.CommonResource("PayPalConfirmTitle")</h3>
<div class="settingsboxinner">
    <div class="important_msg">
        @Html.CommonResourceRaw("PayPalConfirmDescription")
    </div>
    <br />
    <p class="data-row">
        <strong>@Html.CommonResource("ChargedAmount")</strong>
        <span>@Model.PayAmount <span class="currency">@Model.Currency</span></span>
    </p>

    @using (Html.BeginForm("Confirm", "PayPal", FormMethod.Post, new { id = "submit_form" }))
    {
        @Html.HiddenFor(m => m.ReferenceNumber);
        @Html.HiddenFor(m => m.PayerId);
        @Html.HiddenFor(m => m.Action);

        <p class="actions" style="display: block;">
            <button id="submitLink" type="submit" class="button green" style="vertical-align:top;">@Html.CommonResource("Order")</button>
            <button id="cancelLink" type="submit" class="button orange" style="vertical-align:top;">@Html.CommonResource("Cancel")</button>
        </p>
    }
</div>
<br class="clear" />
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#submitLink').click(function () {
                $("#Action").val("confirm");
                $('#submit_form').submit();
            });

            $('#cancelLink').click(function () {
                $("#Action").val("cancel");
                $('#submit_form').submit();
            });
        });
    </script>
}