@model Atomia.Store.Payment.CCPayment.CCPaymentForm

<div id="cc-options" style="display: block;">
    @Html.FormRowFor(m => m.CardNumber, Html.CommonResource("CardNumber") + ":", true)

    @Html.FormRowFor(m => m.CardSecurityCode, Html.CommonResource("CardSecurityCode") + ":", true)

    <div class="formrow">
        <h5>
            <label class="required"><span>*</span> @Html.CommonResource("Expires"):</label>
        </h5>
        <div class="col2row">
            <label class="select auto-width">
                @Html.DropDownListFor(m => m.ExpiresMonth, Model.MonthOptions, Html.CommonResource("SelectMonth"), new { @class = "auto-width" })
            </label>/
            <label class="select auto-width">
                @Html.DropDownListFor(m => m.ExpiresYear, Model.YearOptions, Html.CommonResource("SelectYear"), new { @class = "auto-width" })
            </label>
            @Html.ValidationMessageFor(m => m.ExpiresMonth)
            @Html.ValidationMessageFor(m => m.ExpiresYear)
        </div>
        <br class="clear">
    </div>

    @Html.FormRowFor(m => m.CardOwner, Html.CommonResource("CardOwner") + ":", true)
</div>
