@model Atomia.Store.Payment.Invoice.PayWithInvoiceForm
@using Atomia.Store.Payment.Invoice

<div id="invoice-box" class="formrow" style="display: block;">
    <h5><label class="required" for="inv-send"><span>*</span> @Html.CommonResource("SendInvoiceVia"):</label></h5>
    <div id="inv-send" class="col2row" data-bind="if: payment.selectedPaymentMethod() == '@Model.Id'">
        <label>
            @Html.RadioButtonFor(m => m.SelectedInvoiceType, "email", new { id = "inv-send-email", data_bind = "checked: payWithInvoice.invoiceType" })
            <label for="inv-send-email"></label>
            <label for="inv-send-email"></label> @Html.CommonResource("InvoiceByEmailName")
        </label><br />
        <label>
            @Html.RadioButtonFor(m => m.SelectedInvoiceType, "post", new { id = "inv-send-post", data_bind = "checked: payWithInvoice.invoiceType" })
            <label for="inv-send-post"></label>
            <label for="inv-send-post"></label> @Html.CommonResource("InvoiceByPostName")
            <!-- ko if: payWithInvoice.postalFeeItem() !== null -->
                (+<span data-bind="text: payWithInvoice.postalFeeItem().Price"></span>)
            <!-- /ko -->
        </label><br />
    </div>
    <br class="clear">
</div>
