@model Atomia.Store.AspNetMvc.Models.DefaultCheckoutViewModel

<div class="formrow" data-bind="visible: paymentProfile.isSupportedByPaymentMethod">
    <h5><label>@Html.CommonResource("PaymentProfileOptions"):</label></h5>
    <div class="col2row">
        <label>
            @Html.CheckBoxFor(m => m.SaveCcInfo, new { data_bind = "checked: paymentProfile.saveccinfo" })
            @Html.LabelFor(m => m.SaveCcInfo, " ")
            @Html.LabelFor(m => m.SaveCcInfo, " ")
            @Html.CommonResource("SaveCreditCardInfo")
        </label><br>
        <label>
            @Html.CheckBoxFor(m => m.AutoPay, new { data_bind = "checked: paymentProfile.autopay" })
            @Html.LabelFor(m => m.AutoPay, " ")
            @Html.LabelFor(m => m.AutoPay, " ")
            @Html.CommonResource("CreditCardAutoPay")
        </label>
    </div>
    <br class="clear">
</div>
