@model Atomia.Store.AspNetMvc.Models.DefaultCheckoutViewModel

@if (Model.TermsOfService.Count > 0)
{
    <h4>@Html.CommonResource("Terms")</h4>
    <div class="formrow">
        <h5><label class="required"><span>*</span> @Html.CommonResource("Confirmation"):</label></h5>
        <div class="col2row">
            @for (var i = 0; i < Model.TermsOfService.Count(); i++)
            {
                <div>
                    @Html.CheckBoxFor(m => m.TermsOfService[i].Confirm)
                    @Html.LabelFor(m => m.TermsOfService[i].Confirm, " ")
                    @Html.LabelFor(m => m.TermsOfService[i].Confirm, " ")
                    @Html.LabelFor(m => m.TermsOfService[i].Confirm, Html.CommonResource("ReadAndAgree")) @Html.ActionLink(Model.TermsOfService[i].Name, "TermsOfService", new { Id = Model.TermsOfService[i].Id }, new { target = "_blank" })
                    @Html.ValidationMessageFor(m => m.TermsOfService[i].Confirm)
                    @Html.HiddenFor(m => m.TermsOfService[i].Id)
                </div>
            }
        </div>
        <br class="clear">
    </div>
    
}