@model Atomia.Store.AspNetMvc.Models.DefaultCheckoutViewModel
@using Atomia.Store.WebBase.HtmlHelpers;
@using Atomia.Web.Plugin.Validation.HtmlHelpers;

@{
    Layout = "~/Themes/Default/Views/_MainLayout.cshtml";
}

<div class="settingsboxinner">
    <div data-bind="visible: Atomia.VM.Cart.IsEmpty()">
        <h4>@Html.CommonResource("CheckoutCartIsEmptyTitle")</h4>
        <p>@Html.CommonResource("CheckoutCartIsEmptyDescription")</p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div data-bind="visible: !Atomia.VM.Cart.IsEmpty()">
            <h4>@Html.CommonResource("PaymentOptions")</h4>
            @Html.Partial("_PaymentMethods", Model.PaymentMethods)

            @*
                <h4>@Html.CommonResource("AddCampaignCode")</h4>
                @Html.Partial("_CampaignCode")
            *@

            <h4>@Html.CommonResource("Invoice")</h4>
            @* @Html.Partial("_VatCheck") *@
            @Html.Partial("_CartSummary")

            @if (Model.TermsOfService != null)
            {
                <h4>@Html.CommonResource("Terms")</h4>
                @Html.Partial("_TermsOfService", Model.TermsOfService)
            }
        </div>

        <p class="actions" style="display: block;">
            @Html.ActionLink(Html.CommonResource("Back"), "Index", "Account", null, new { id = "back_step", @class = "button large", style = "display: inline-block;" })
            <button type="submit" class="button green" style="vertical-align:top;" data-bind="visible: !Atomia.VM.Cart.IsEmpty()">@Html.CommonResource("Checkout")</button>
        </p>
    }
</div>

@section scripts {
    <script type="text/javascript">
        Atomia.VM.Payment = Atomia.ViewModels.CreatePaymentSelector();
        Atomia.VM.Payment.SelectedPaymentMethod('@Model.SelectedPaymentMethodId');

        Atomia.VM.Progress.Step(4);
    </script>
}
