@model Atomia.Store.AspNetMvc.Models.DefaultCheckoutViewModel
@using Atomia.Web.Plugin.Validation.HtmlHelpers;

@{
    Layout = "~/Themes/Default/Views/_MainLayout.cshtml";
}

<div class="settingsboxinner">
    <div data-bind="visible: Cart.IsEmpty()">
        <h4>@Html.CommonResource("CheckoutCartIsEmptyTitle")</h4>
        <p>@Html.CommonResource("CheckoutCartIsEmptyDescription")</p>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div data-bind="visible: !Cart.IsEmpty()">
            <h4>@Html.CommonResource("PaymentOptions")</h4>
            @Html.Partial("_PaymentMethods", Model.PaymentMethodGuiPlugins)

            <h4>@Html.CommonResource("AddCampaignCode")</h4>
            @Html.Partial("_Campaign")

            <h4>@Html.CommonResource("Invoice")</h4>
            @* @Html.Partial("_VatCheck") *@
            @Html.Partial("_CartSummary")

            <h4>@Html.CommonResource("Terms")</h4>
            @Html.Partial("_TermsOfServiceConfirmation", Model)
        </div>

        <p class="actions" style="display: block;">
            @Html.ActionLink(Html.CommonResource("Back"), "Index", "Account", null, new { id = "back_step", @class = "button large", style = "display: inline-block;" })
            <button type="submit" class="button green" style="vertical-align:top;" data-bind="visible: !Cart.IsEmpty()">@Html.CommonResource("Checkout")</button>
        </p>
    }
</div>

@section scripts {
    @{
        Html.EnableClientValidation();
    }

    <script type="text/javascript">
        Atomia.VM.Payment = Atomia.ViewModels.CreatePaymentSelectorModel();
        Atomia.VM.Payment.SelectedPaymentMethod('@Model.SelectedPaymentMethodId');

        Atomia.VM.PayWithInvoice = Atomia.ViewModels.CreatePayWithInvoiceModel(Atomia.VM.Cart, Atomia.VM.Payment);
        Atomia.VM.PayWithInvoice.LoadPostalFeeItem(@Html.JsonAction("GetItem", "ProductListing", new { articleNumber = "BIL-IF" }));
        Atomia.VM.PayWithInvoice.InvoiceType('email');

        Atomia.VM.Campaign = Atomia.ViewModels.CreateCampaignModel(Atomia.VM.Cart);

        Atomia.VM.Progress.Step(4);
    </script>
}
