@model Atomia.Store.AspNetMvc.Models.ProductListingViewModel

@{
    Layout = "~/Themes/Default/Views/_OrderFlowLayout.cshtml";
    ViewBag.Title = @Html.CommonResource("HostingPackageTitle");
}

<h4>@Html.CommonResource("HostingPackageTitle")</h4>
<p>@Html.CommonResourceRaw("HostingPackageDescription")</p>
<div class="formrow">
    <!-- ko with: products -->
    @Html.Partial("_CardListing")
    <!-- /ko -->
    <br class="clear">
</div>

<div data-bind="visible: connectedDomainStatus.domainNameOptionsCount() > 0">
    @Html.Partial("_DomainConnection")
</div>

@Html.Partial("_Actions", Model)

@section scripts {
    @{ Html.RenderPartial("_Scripts", Model); }

    @{ Html.RenderPartial("_DomainConnectionScripts", Model); }

    @{ Html.RenderPartial("_ExtraScripts", Model); }
}