@model Atomia.Store.AspNetMvc.Models.BillingContactModel

@* Assumed to be under a knockout 'with' binding for an AccountModel object *@

<h4>
    @Html.CommonResource("BillingAddressTitle")
    <span id="billing-text-open" data-bind="visible: !otherBillingContact()">
        (@Html.CommonResource("BillingSameAsMain") -
        <a id="billing-trigger-open" href="javascript:void(0);" data-bind="click: useOtherBillingContact">@Html.CommonResource("Change")</a>)
    </span>
    <span id="billing-text-close" style="display: none;" data-bind="visible: otherBillingContact">
        (@Html.CommonResource("BillingDifferentThanMain") -
        <a id="billing-trigger-close" href="javascript:void(0);" data-bind="click: useMainAsBillingContact">Make it same as contact info</a>)
    </span>
</h4>

<div id="billing" style="display: none;" data-bind="slideVisible: otherBillingContact">
    <div class="formrow">
        <h5>
            <span class="required">*</span>
            @Html.LabelFor(m => m.CustomerType, Html.CommonResource("CustomerType") + ":", new { @class = "required" })
        </h5>
        <div class="col2row">
            <label class="select">
                @Html.DropDownListFor(m => m.CustomerType, Model.CustomerTypeOptions, new { data_bind = "value: billingContactCustomerType, if: otherBillingContact" })
            </label>
            @Html.ValidationMessageFor(m => m.CustomerType)
        </div>
        <br class="clear" />
    </div>

    @Html.FormRowFor(m => m.Email, Html.CommonResource("Email") + ":", true, "if: otherBillingContact")
    @Html.FormRowFor(m => m.FirstName, Html.CommonResource("FirstName") + ":", true, "if: otherBillingContact")
    @Html.FormRowFor(m => m.LastName, Html.CommonResource("LastName") + ":", true, "if: otherBillingContact")

    <div data-bind="slideVisible: billingContactIsCompany, slideDuration: 300">
        @Html.FormRowFor(m => m.CompanyInfo.CompanyName, Html.CommonResource("CompanyName") + ":", true, "if: otherBillingContact() && billingContactIsCompany()")
        @*
            TODO: VAT can currently only be saved once per account in Atomia Billing, so don't show this for BillingContact until fixed
            @Html.FormRowFor(m => m.BillingContact.CompanyInfo.VatNumber, Html.CommonResource("VatNumber") + ":", false, "if: otherBillingContact() && billingContactIsCompany()")
        *@
        @Html.FormRowFor(m => m.IndividualInfo.IdentityNumber, Html.CommonResource("CompanyIdentityNumber") + ":", true, "if: otherBillingContact() && billingContactIsCompany()")
    </div>

    <div data-bind="slideVisible: !billingContactIsCompany(), slideDuration: 300">
        @Html.FormRowFor(m => m.IndividualInfo.IdentityNumber, Html.CommonResource("IndividualIdentityNumber") + ":", false, "if: otherBillingContact() && !billingContactIsCompany()")
    </div>

    @Html.FormRowFor(m => m.Address, Html.CommonResource("Address") + ":", true, "if: otherBillingContact")
    @Html.FormRowFor(m => m.Address2, Html.CommonResource("Address2") + ":", false, "if: otherBillingContact")
    @Html.FormRowFor(m => m.City, Html.CommonResource("City") + ":", true, "if: otherBillingContact")
    @Html.FormRowFor(m => m.Zip, Html.CommonResource("Zip") + ":", true, "if: otherBillingContact")

    <div class="formrow">
        <h5>
            <span class="required">*</span>
            @Html.LabelFor(m => m.Country, Html.CommonResource("Country") + ":", new { @class = "required" })
        </h5>
        <div class="col2row">
            <label class="select">
                @Html.DropDownListFor(m => m.Country, Model.CountryOptions, new { data_bind = "if: otherBillingContact" })
            </label>
            @Html.ValidationMessageFor(m => m.Country)
        </div>
        <br class="clear">
    </div>
</div>