@model Atomia.Store.AspNetMvc.Models.MainContactModel

<!-- ko with: Atomia.VM.account -->
<h4>@Html.CommonResource("AccountTitle")</h4>

<div class="formrow">
    <h5>
        <span class="required">*</span>
        @Html.LabelFor(m => m.CustomerType, Html.CommonResource("CustomerType") + ":", new { @class = "required" })
    </h5>
    <div class="col2row">
        <label class="select">
            @Html.DropDownListFor(m => m.CustomerType, Model.CustomerTypeOptions, new { data_bind = "value: mainContactCustomerType" })
        </label>
        @Html.ValidationMessageFor(m => m.CustomerType)
</div>
    <br class="clear">
</div>

@Html.FormRowFor(m => m.Email, Html.CommonResource("Email") + ":", true)

@if (Atomia.Common.Configuration.AtomiaCommon.Instance.SeparateUsernameAndEmail)
{
    @Html.FormRowFor(m => m.Username, Html.CommonResource("Username") + ":", true)
}

@Html.FormRowFor(m => m.FirstName, Html.CommonResource("FirstName") + ":", true)
@Html.FormRowFor(m => m.LastName, Html.CommonResource("LastName") + ":", true)

<div data-bind="slideVisible: mainContactIsCompany, slideDuration: 300">
    @Html.FormRowFor(m => m.CompanyInfo.CompanyName, Html.CommonResource("CompanyName") + ":", true, "if: mainContactIsCompany")
    @Html.FormRowFor(m => m.CompanyInfo.IdentityNumber, Html.CommonResource("CompanyIdentityNumber") + ":", true, "if: mainContactIsCompany")
    @Html.FormRowFor(m => m.CompanyInfo.VatNumber, Html.CommonResource("VatNumber") + ":", false, "if: mainContactIsCompany")
</div>

<div data-bind="slideVisible: !mainContactIsCompany(), slideDuration: 300">
    @Html.FormRowFor(m => m.IndividualInfo.IdentityNumber, Html.CommonResource("IndividualIdentityNumber") + ":", false, "if: !mainContactIsCompany()")
</div>

@Html.FormRowFor(m => m.Address, Html.CommonResource("Address") + ":", true)
@Html.FormRowFor(m => m.Address2, Html.CommonResource("Address2") + ":", false)
@Html.FormRowFor(m => m.City, Html.CommonResource("City") + ":", true)
@Html.FormRowFor(m => m.Zip, Html.CommonResource("Zip") + ":", true)

<div class="formrow">
    <h5>
        <span class="required">*</span>
        @Html.LabelFor(m => m.Country, Html.CommonResource("Country") + ":", new { @class = "required" })
    </h5>
    <div class="col2row">
        <label class="select">
            @Html.DropDownListFor(m => m.Country, Model.CountryOptions)
        </label>
        @Html.ValidationMessageFor(m => m.Country)
    </div>
    <br class="clear">
</div>

@Html.FormRowFor(m => m.Phone, Html.CommonResource("Phone") + ":", true)
<!-- /ko -->