@model Atomia.Store.AspNetMvc.Models.DomainsViewModel

<!-- ko with: Atomia.VM.domainRegistration -->
<div class="domainreg-query big_search">
    @using (Html.BeginForm("FindDomains", "Domain", FormMethod.Post, new { data_bind = "submitValid: submit" }))
    {
        @Html.TextBoxFor(m => m.SearchQuery, new { data_bind = "value: query", id = "register_box", placeholder = "mydomain.com" })
        <button type="submit" class="button green" style="vertical-align:top;">@Html.CommonResource("FindDomain")</button>
        <p>@Html.ValidationMessageFor(m => m.SearchQuery)</p>
    }
</div>
<br class="clear">

<div class="domainreg-results" data-bind="visible: hasResults" style="display: none;">
    <h4 class="fancy">@Html.CommonResource("DomainRegistrationResultsHeading") <strong data-bind="text: submittedQuery"></strong></h4>

    <ul class="domains" data-bind="
        template: { 
            name: getTemplateName, 
            foreach: primaryResults() 
        }"></ul>

    <table class="list display strong" id="domainlist" style="display: table;" data-bind="visible: showMoreResults">
        <thead>
            <tr>
                <th class="left">@Html.CommonResource("Domain")</th>
                <th class="right" style="width: 20%;">@Html.CommonResource("Fee")</th>
                <th style="width: 20%;"></th>
            </tr>
        </thead>
        <tbody data-bind="
            template: { 
                name: getTemplateName, 
                foreach: secondaryResults() 
            }"></tbody>
    </table>

    <p data-bind="if: !showMoreResults() && secondaryResults().length > 0">
        <a id="more" class="button small green" data-bind="click: setShowMoreResults" href="javascript:void(0);">@Html.CommonResource("MoreResults")</a>
    </p>
</div>

<div class="domainreg-results" data-bind="visible: !hasResults() && noResults()" style="display: none;">
    <h4 class="fancy">@Html.CommonResource("DomainRegistrationNoResultsHeading") <strong data-bind="text: submittedQuery"></strong></h4>
</div>

<div data-bind="visible: isLoadingResults" style="display: none;">
    <div id="global_processing" class="global_processing"></div>
    <div id="global_processing_overlay" class="blocker"></div>
</div>
<!-- /ko -->

<script type="text/html" id="domainregistration-primary-available">
    <li class="available" title="@Html.CommonResource("DomainAvailableHoverTitle")">
        <span class="domain">.<!-- ko text: domainNameTld --><!-- /ko --></span>
        <label class="price">
            <input type="checkbox" data-bind="attr: { id: uniqueId }, click: toggleInCart, checked: isInCart" />
            <label data-bind="attr: { for: uniqueId }"></label>
            <label data-bind="attr: { for: uniqueId }"></label>
            <span data-bind="text: price"></span>
        </label>
    </li>
</script>

<script type="text/html" id="domainregistration-primary-taken">
    <li class="not_available" title="@Html.CommonResource("DomainNotAvailableHoverTitle")">
        <span class="domain">.<!-- ko text: domainNameTld --><!-- /ko --></span>
        <span class="price">
            <em>@Html.CommonResource("Taken")</em>
            <span data-bind="text: price"></span>
        </span>
    </li>
</script>

<script type="text/html" id="domainregistration-primary-loading">
    <li class="not_available" title="@Html.CommonResource("DomainNotAvailableHoverTitle")">
        <span class="domain">.<!-- ko text: domainNameTld --><!-- /ko --></span>
    </li>
</script>

<script type="text/html" id="domainregistration-secondary-available">
    <tr>
        <td><!-- ko text: domainNameSld --><!-- /ko --><strong>.<!-- ko text: domainNameTld --><!-- /ko --></strong></td>
        <td class="right nowrap" data-bind="text: price"></td>
        <td>
            <a title="Add to cart" href="javascript:void(0);" class="button" data-bind="click: addToCart, visible: !isInCart()">@Html.CommonResource("AddToCart")</a>
            <a title="Remove from cart" href="javascript:void(0);" class="button orange" data-bind="click: removeFromCart, visible: isInCart">@Html.CommonResource("Remove")</a>
        </td>
    </tr>
</script>

<script type="text/html" id="domainregistration-secondary-unavailable">
    <tr>
        <td><span class="fade"><!-- ko text: domainNameSld --><!-- /ko --><strong>.<!-- ko text: domainNameTld --><!-- /ko --></strong></span></td>
        <td class="right nowrap"><span class="fade" data-bind="text: price"></span></td>
        <td><span class="taken">@Html.CommonResource("Taken")</span></td>
    </tr>
</script>

<script type="text/html" id="domainregistration-secondary-loading">
    <tr>
        <td><span class="fade"><!-- ko text: domainNameSld --><!-- /ko --><strong>.<!-- ko text: domainNameTld --><!-- /ko --></strong></span></td>
        <td class="right nowrap" data-bind="text: price"></td>
        <td><span class="processing"></span></td>
    </tr>
</script>

<script type="text/html" id="domainregistration-secondary-unknown">
    <tr>
        <td><span class="fade"><!-- ko text: domainNameSld --><!-- /ko --><strong>.<!-- ko text: domainNameTld --><!-- /ko --></strong></span></td>
        <td class="right nowrap" data-bind="text: price"></td>
        <td><span class="warning"></span></td>
    </tr>
</script>