@using Atomia.Store.WebBase.HtmlHelpers;

@{
    Layout = null;
    ViewBag.Title = Html.CommonResource("OrderPageTitle");
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Themes/Default/Content/css/atomia_2/style")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,500|Oswald:300,400,700" type="text/css" />
    
    <!--[if IE]><link rel="shortcut icon" href="~/Themes/Default/Content/img/atomia_2/favicon.ico" type="image/x-icon" /><![endif]-->
    <link rel="icon" href="~/Themes/Default/Content/img/atomia_2/favicon.png" type="image/png" />
</head>
<body>
    <!-- FIXME: put in partials etc. -->
    <header>
        <div class="margins">
            <a id="logo" class="icn_atomia" href="http://www.atomia.com/">Atomia</a>

            <nav id="top_menu">
                <ul id="apps"></ul>

            </nav>
            <ul class="addons">
                <li><a id="language_selector_trigger" class="submenu" href="javascript:void(0);" data-bind="click: LanguageSelector.ToggleDropdown, text: LanguageSelector.SelectedLanguage().Code"></a></li>
                <li><a id="head_cart_trigger" class="icn_cart" href="javascript:void(0);" data-bind="click: Cart.ToggleDropdown"><span class="empty" data-bind="text: Cart.NumberOfItems"></span></a></li>
            </ul>
        </div>

        @Html.Partial("_LanguageSelector")

        @Html.Partial("_Cart")

    </header>

    @Html.Partial("_Progress")
    
    <section id="main">
        <div class="margins">
            <div id="homecontent">
                <div class="settingsbox">
                    <h3>@ViewBag.Title</h3>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    @Scripts.Render("~/bundles/scripts")

    <script type="text/javascript">
    var Atomia = Atomia || {};
    Atomia.VM = Atomia.VM || {};

    Atomia.VM.LanguageSelector = Atomia.ViewModels.CreateLanguageSelector();
    Atomia.VM.LanguageSelector.Load(@Html.JsonAction("GetLanguages", "Language"));

    Atomia.VM.Cart = Atomia.ViewModels.CreateCart();
    Atomia.VM.Cart.Load(@Html.JsonAction("GetCart", "Cart"));

    Atomia.VM.Progress = Atomia.ViewModels.CreateProgress();
    </script>

    
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        AtomiaValidation.init('AtomiaRequired', 'AtomiaRegularExpression', 'AtomiaUsername');

        ko.applyBindings(Atomia.VM);
    </script>

    <footer>
        <div class="margins">
            <p id="copyright_placeholder">Copyright © 2014 Atomia. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
