@using Atomia.Store.WebBase.HtmlHelpers;

@{
    Layout = null;
    ViewBag.Title = Html.CommonResource("OrderPageTitle");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,500|Oswald:300,400,700" type="text/css" />
    <!--[if IE]><link rel="shortcut icon" href="img/atomia_2/favicon.ico" type="image/x-icon" /><![endif]-->
    <link rel="icon" href="img/atomia_2/favicon.png" type="image/png" />
</head>
<body>
    <!-- FIXME: put in partials etc. -->
    <header>
        <div class="margins">
            <a id="logo" class="icn_atomia" href="http://www.atomia.com/">Atomia</a>

            <nav id="top_menu">
                <ul id="apps"></ul>

            </nav>
            <ul class="addons">
                <li><a id="language_selector_trigger" class="submenu" href="javascript:void(0);">EN</a></li>
                <li><a id="head_cart_trigger" class="icn_cart" href="javascript:void(0);" data-bind="click: Cart.ToggleDropdown"><span class="empty" data-bind="text: Cart.NumberOfItems"></span></a></li>
            </ul>
        </div>

        @Html.Partial("_Cart")

    </header>
    <div class="progress_block">
        <div class="margins">
            <ol class="progress">
                <li class="current">
                    <div>1</div>
                    <h4>Domains</h4>
                    <p>Buy new or move existing</p>
                </li>
                <li>
                    <div>2</div>
                    <h4>Hosting</h4>
                    <p>Choose hosting package</p>
                </li>
                <li>
                    <div>3</div>
                    <h4>Account</h4>
                    <p>Set up account info</p>
                </li>
                <li>
                    <div>4</div>
                    <h4>Checkout</h4>
                    <p>Invoice and payment options</p>
                </li>
            </ol>
        </div>
    </div>
    <section id="main">
        <div class="margins">
            <div id="homecontent">
                <div class="settingsbox">
                    <h3>@ViewBag.Title</h3>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    @Scripts.Render("~/bundles/shared")

    <script type="text/javascript">
        var Atomia = Atomia || {};
        Atomia.ActiveViewModel = Atomia.ActiveViewModel || {};
        Atomia.ActiveViewModel.Cart = new Atomia.ViewModels.Cart(Atomia.ViewModels.ItemInCart);
    </script>



    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        Atomia.ActiveViewModel.Cart.Load(@Html.JsonAction("GetCart", "Cart"));

        ko.applyBindings(Atomia.ActiveViewModel);
    </script>

    <footer>
        <div class="margins">
            <p id="copyright_placeholder">Copyright © 2014 Atomia. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
