@{
    Layout = null;
    ViewBag.Title = Html.CommonResource("OrderPageTitle");
}

<!DOCTYPE html>

<html>

@Html.Partial("_Head")

<body>
    <header>
        <div class="margins">
            <a id="logo" class="icn_atomia" href="/">Atomia</a>
            
            <nav id="top_menu">
                <ul id="apps"></ul>

            </nav>
            <ul class="addons">
                <li><a id="language_selector_trigger" class="submenu" href="javascript:void(0);" data-bind="click: languageSelector.toggleDropdown, text: languageSelector.selectedLanguage().shortName"></a></li>
                <li><a id="head_cart_trigger" class="icn_cart" href="javascript:void(0);" data-bind="click: Cart.ToggleDropdown"><span class="empty" data-bind="text: Cart.NumberOfItems"></span></a></li>
            </ul>
        </div>

        @Html.Partial("_LanguageSelector")

        @Html.Partial("_Cart")

    </header>

    @Html.Partial("_Progress")
    
    <section id="main">
        <div class="margins">
            <div id="homecontent">
                <div class="settingsbox">
                    <h3>@ViewBag.Title</h3>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>


    @Html.Partial("_Footer")


    @Html.Partial("_Notification")
    

    @Scripts.Render("~/bundles/scripts")

    <script type="text/javascript">
        var Atomia = Atomia || {};
        Atomia.VM = Atomia.VM || {};

        Atomia.VM.languageSelector = new Atomia.ViewModels.LanguageSelectorModel();
        Atomia.VM.languageSelector.load(@Html.JsonAction("GetLanguages", "Language"));

        Atomia.VM.Cart = Atomia.ViewModels.CreateCartModel();
        Atomia.VM.Cart.Load(@Html.JsonAction("GetCart", "Cart"));

        Atomia.VM.Notification = Atomia.ViewModels.CreateNotificationModel();
        Atomia.VM.Notification.NotifyAjaxErrors('@Html.CommonResource("AjaxErrorTitle")', '@Html.CommonResource("AjaxErrorMessage")', 'warning');
    </script>

    
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        AtomiaValidation.init('AtomiaRequired', 'AtomiaRegularExpression', 'AtomiaUsername');

        ko.applyBindings(Atomia.VM);
    </script>
</body>
</html>
