@{
    Layout = null;
    ViewBag.Title = Html.CommonResource("OrderPageTitle");
}

<!DOCTYPE html>

<html>

@Html.Partial("_Head")

<body>
    <header>
        <div class="margins">
            <a id="logo" class="icn_atomia" href="/">Atomia</a>
            
            <nav id="top_menu">
                <ul id="apps"></ul>

            </nav>
            <ul class="addons">
                <li><a id="language_selector_trigger" class="submenu" href="javascript:void(0);" data-bind="click: languageSelector.toggleModal, text: languageSelector.selectedLanguage().shortName"></a></li>
                <li><a id="head_cart_trigger" class="icn_cart" href="javascript:void(0);" data-bind="click: cart.toggleModal"><span class="empty" data-bind="text: cart.numberOfItems"></span></a></li>
            </ul>
        </div>

        @Html.Partial("_LanguageSelector")

        @Html.Partial("_Cart")

    </header>

    @Html.Partial("_Progress")
    
    <section id="main">
        <div class="margins">
            <div id="homecontent">
                <div class="settingsbox">
                    <h3>@ViewBag.Title</h3>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>


    @Html.Partial("_Footer")


    @Html.Partial("_Notification")
    

    @Scripts.Render("~/bundles/scripts")

    <script type="text/javascript">
        var Atomia = Atomia || {};
        Atomia.VM = Atomia.VM || {};

        Atomia.VM.languageSelector = _.extend(
            new Atomia.ViewModels.LanguageSelectorModel(),
            new Atomia.ViewModels.ModalMixin());

        Atomia.VM.languageSelector.load(@Html.JsonAction("GetLanguages", "Language"));

        Atomia.VM.cart = _.extend(
            new Atomia.ViewModels.CartModel(),
            new Atomia.ViewModels.ModalMixin());
        Atomia.VM.cart.load(@Html.JsonAction("GetCart", "Cart"));

        Atomia.VM.notification = new Atomia.ViewModels.NotificationModel();

        Atomia.Utils.warnAjaxErrors('@Html.Raw(@Html.CommonResource("AjaxErrorTitle"))', '@Html.Raw(@Html.CommonResource("AjaxErrorMessage"))');
        Atomia.Utils.relayCartUpdateToValidation();
    </script>
    
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        AtomiaValidation.init('AtomiaRequired', 'AtomiaRegularExpression', 'AtomiaUsername', 'AtomiaUsernameRequired');

        ko.applyBindings(Atomia.VM);
    </script>
</body>
</html>
