@using Atomia.Store.WebBase.HtmlHelpers;

@{
    Layout = null;
    ViewBag.Title = Html.CommonResource("OrderPageTitle");
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Themes/Default/Content/css/atomia_2/style")

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:300,500|Oswald:300,400,700" type="text/css" />
    
    <!--[if IE]><link rel="shortcut icon" href="~/Themes/Default/Content/img/atomia_2/favicon.ico" type="image/x-icon" /><![endif]-->
    <link rel="icon" href="~/Themes/Default/Content/img/atomia_2/favicon.png" type="image/png" />
</head>
<body>
    <header>
        <div class="margins">
            <a id="logo" class="icn_atomia" href="/">Atomia</a>
            
            <nav id="top_menu">
                <ul id="apps"></ul>

            </nav>
            <ul class="addons">
                <li><a id="language_selector_trigger" class="submenu" href="javascript:void(0);" data-bind="click: LanguageSelector.ToggleDropdown, text: LanguageSelector.SelectedLanguage().ShortName"></a></li>
            </ul>
        </div>

        @Html.Partial("_LanguageSelector")
    </header>

    <section id="main">
        <div class="margins">
            <div id="homecontent">
                <div class="settingsbox">
                    <h3>@ViewBag.Title</h3>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    @Html.Partial("_Footer")

    @Html.Partial("_Notification")


    @Scripts.Render("~/bundles/scripts")

    <script type="text/javascript">
    var Atomia = Atomia || {};
    Atomia.VM = Atomia.VM || {};

    Atomia.VM.LanguageSelector = Atomia.ViewModels.CreateLanguageSelector();
    Atomia.VM.LanguageSelector.Load(@Html.JsonAction("GetLanguages", "Language"));

    Atomia.VM.Notification = Atomia.ViewModels.CreateNotification();
    Atomia.VM.Notification.NotifyAjaxErrors('@Html.CommonResource("AjaxErrorTitle")', '@Html.CommonResource("AjaxErrorMessage")', 'warning');
    </script>
    
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        AtomiaValidation.init('AtomiaRequired', 'AtomiaRegularExpression', 'AtomiaUsername');

        ko.applyBindings(Atomia.VM);
    </script>
</body>
</html>
