<h4>@Html.CommonResource("Invoice")</h4>

<table class="list display strong" id="product_list">
    <thead>
        <tr>
            <th class="left" scope="col">@Html.CommonResource("Product")</th>
            <th class="right" scope="col">@Html.CommonResource("Period")</th>
            <th class="right" scope="col" style="width: 15%;">@Html.CommonResource("Fee")</th>
            <th class="right" scope="col" style="width: 15%;">@Html.CommonResource("Discount")</th>
            <th class="right" scope="col" style="width: 15%;">@Html.CommonResource("Amount")</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="right" colspan="4">@Html.CommonResource("Subtotal"):</td>
            <td class="right nowrap" colspan="1" data-bind="text: cart.subTotal"></td>
        </tr>
        <!-- ko foreach: cart.taxes -->
        <tr>
            <td class="right" colspan="4"><span data-bind="text: name"></span>:</td>
            <td class="right nowrap" colspan="1" data-bind="text: amount"></td>
        </tr>
        <!-- /ko -->
        <!-- ko if: cart.taxes().length === 0 -->
        <tr>
            <td class="right" colspan="4">@Html.CommonResource("NoTax")</td>
            <td class="right nowrap" colspan="1">-</td>
        </tr>
        <!-- /ko -->
        <tr class="strong">
            <td class="right" colspan="4">@Html.CommonResource("AmountToPay"):</td>
            <td class="right nowrap" colspan="1" data-bind="text: cart.total"></td>
        </tr>
    </tfoot>
    <tbody>
        <!-- ko foreach: cart.cartItems() -->
        <tr style="display: table-row;">
            <td>
                <strong data-bind="text: name"></strong>
                <br />
                <span class="fine-print">
                    <span data-bind="text: categoryDescription"></span><span data-bind="visible: !isDomainItem() && attrs.domainName, text: ', ' + attrs.domainName"></span>
                </span>
            </td>
            <td class="right">
                <!-- ko if: renewalPeriod == null -->
                <span>-</span>
                <!-- /ko -->
                <!-- ko if: renewalPeriod != null -->
                <span data-bind="text: renewalPeriod"></span>
                <!-- /ko -->
            </td>
            <td class="right nowrap" data-bind="text: price"></td>
            <td class="right nowrap" data-bind="text: discount"></td>
            <td class="right nowrap" data-bind="text: total"></td>
        </tr>
        <!-- /ko -->
        <tr style="display: table-row;" data-bind="visible: cart.campaignCode">
            <td>
                <strong>@Html.CommonResource("CampaignCode"):</strong> <span data-bind="text: cart.campaignCode"></span>
            </td>
            <td class="right"></td>
            <td class="right nowrap"></td>
            <td class="right nowrap"></td>
            <td class="right nowrap"></td>
        </tr>
    </tbody>
</table>