<div id="head_cart" class="head_tray" data-bind="slideVisible: cart.modalIsOpen, css: { opened: cart.modalIsOpen }, event: { mouseleave: cart.closeModal }">
    <div class="margins">
        <h3>@Html.CommonResource("ShoppingCart")</h3>
        <div data-bind="visible: !cart.isEmpty() || cart.campaignCode()">
            <p>@Html.CommonResource("ShoppingCartDescription")</p>
            <table class="strong">
                <thead>
                    <tr>
                        <th class="left">@Html.CommonResource("Item")</th>
                        <th class="right" style="width: 12em">@Html.CommonResource("Amount")</th>
                        <th style="width: 12em"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td class="right">@Html.CommonResource("Subtotal")</td>
                        <td class="right nowrap" data-bind="text: cart.subTotal"></td>
                        <td></td>
                    </tr>
                    <!-- ko foreach: cart.taxes -->
                    <tr>
                        <td class="right" data-bind="text: name"></td>
                        <td class="right nowrap" data-bind="text: amount"></td>
                        <td></td>
                    </tr>
                    <!-- /ko -->
                    <!-- ko if: cart.taxes().length === 0 -->
                    <tr>
                        <td class="right">@Html.CommonResource("NoTax")</td>
                        <td class="right nowrap">-</td>
                        <td></td>
                    </tr>
                    <!-- /ko -->
                    <tr class="strong">
                        <td class="right">@Html.CommonResource("Total")</td>
                        <td class="right nowrap" data-bind="text: cart.total"></td>
                        <td></td>
                    </tr>
                </tfoot>
                <tbody>
                    <!-- ko foreach: cart.cartItems -->
                    <tr>
                        <td>
                            <span data-bind="text: name"></span>
                            <span data-bind="visible: customOptions().length > 0">
                                (<!-- ko text: customOptions().join(', ') --><!-- /ko-->)
                            </span>
                        </td>
                        <td class="right nowrap" data-bind="text: total"></td>
                        <td>
                            <!-- ko if: attrs.notRemovable !== 'true' -->
                            <a class="button small orange" href="javascript:void(0);" data-bind="click: removeFromCart">@Html.CommonResource("Remove")</a>
                            <!-- /ko -->
                        </td>
                    </tr>
                    <!-- /ko -->
                    <tr data-bind="visible: cart.campaignCode">
                        <td>
                            <strong>@Html.CommonResource("CampaignCode"):</strong> <span data-bind="text: cart.campaignCode"></span>
                        </td>
                        <td class="right nowrap"></td>
                        <td>
                            <a class="button small orange" href="javascript:void(0);" data-bind="click: cart.removeCampaignCode">@Html.CommonResource("Remove")</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div data-bind="visible: cart.isEmpty() && !cart.campaignCode()">
            <p>@Html.CommonResource("ShoppingCartEmpty")</p>
        </div>
    </div>
</div>