<table class="list display strong" id="product_list">
    <thead>
        <tr>
            <th class="ta_left" scope="col">@Html.CommonResource("Product")</th>
            <th scope="col">@Html.CommonResource("Period")</th>
            <th class="right" scope="col" style="width: 20%;">@Html.CommonResource("Fee")</th>
            <th class="right" scope="col" style="width: 20%;">@Html.CommonResource("Discount")</th>
            <th class="right" scope="col" style="width: 20%;">@Html.CommonResource("Subtotal")</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="right" colspan="4">@Html.CommonResource("Subtotal"):</td>
            <td class="right nowrap" colspan="1" data-bind="text: Atomia.VM.Cart.SubTotal"></td>
        </tr>
        <tr>
            <td class="right" colspan="4">VAT:</td>
            <td class="right nowrap" colspan="1" data-bind="text: Atomia.VM.Cart.Tax"></td>
        </tr>
        <tr class="strong">
            <td class="right" colspan="4">@Html.CommonResource("AmountToPay"):</td>
            <td class="right nowrap" colspan="1" data-bind="text: Atomia.VM.Cart.Total"></td>
        </tr>
    </tfoot>
    <tbody>
        <!-- ko foreach: Cart.CartItems() -->
        <tr style="display: table-row;">
            <td>
                <strong data-bind="text: Name"></strong>
                <br />
                <span class="fine-print">
                    <span data-bind="text: Category"></span>
                    <span data-bind="visible: !IsDomainItem() && GetDomainName() !== undefined, text: ', ' + GetDomainName()"></span>
                </span>
            </td>
            <td class="right">
                <!-- ko if: RenewalPeriod === undefined || RenewalPeriod === null -->
                <span>-</span>
                <!-- /ko -->
                <!-- ko if: RenewalPeriod !== undefined && RenewalPeriod !== null -->
                <span data-bind="text: RenewalPeriod.Display"></span>
                <!-- /ko -->
            </td>
            <td class="right nowrap" data-bind="text: Price"></td>
            <td class="right nowrap" data-bind="text: Discount"></td>
            <td class="right nowrap" data-bind="text: Total"></td>
        </tr>
        <!-- /ko -->
        <tr style="display: table-row;" data-bind="visible: Cart.CampaignCode">
            <td>
                <strong>@Html.CommonResource("CampaignCode"):</strong> <span data-bind="text: Cart.CampaignCode"></span>
            </td>
            <td class="right"></td>
            <td class="right nowrap"></td>
            <td class="right nowrap"></td>
            <td class="right nowrap"></td>
        </tr>
    </tbody>
</table>