@using Atomia.Store.WebBase.HtmlHelpers;

<div class="progress_block">
    <div class="margins">
        <ol class="progress">
            <li data-bind="css: { current: Progress.Step() === 1 }">
                <div>1</div>
                <h4>@Html.CommonResource("ProgressDomainsTitle")</h4>
                <p>@Html.CommonResource("ProgressDomainsDescription")</p>
            </li>
            <li data-bind="css: { current: Progress.Step() === 2 }">
                <div>2</div>
                <h4>@Html.CommonResource("ProgressPackagesTitle")</h4>
                <p>@Html.CommonResource("ProgressPackagesDescription")</p>
            </li>
            <li data-bind="css: { current: Progress.Step() === 3 }">
                <div>3</div>
                <h4>@Html.CommonResource("ProgressAccountTitle")</h4>
                <p>@Html.CommonResource("ProgressAccountDescription")</p>
            </li>
            <li data-bind="css: { current: Progress.Step() === 4 }">
                <div>4</div>
                <h4>@Html.CommonResource("ProgressCheckoutTitle")</h4>
                <p>@Html.CommonResource("ProgressCheckoutDescription")</p>
            </li>
        </ol>
    </div>
</div>
